{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="w-50 m-auto py-3">
    <div style="padding: 10px 0 50px 0">
        <h1 class="text-warning">Profile Page</h1>
        {% for m in messages %}
        <h1 class="text-{{m.tags}}">{{m}}</h1>
        {% endfor %}
    </div>
    <h4>Change Password:</h4>
    <div class="pb-2">
        <a href="{% url 'change_password' %}"><button class="btn btn-warning" type="submit">Change password using old password</button></a>
    </div>
    <div>
        <a href="{% url 'set_password' %}"><button class="btn btn-warning" type="submit">Change password directly</button></a>
    </div>
</div>
{% endblock %}